<div class="profile-wrapper" fxLayout="row" fxLayoutAlign="end start">
  <mat-card class="box">

    <form class="form">
  
      <mat-card-content>
        
        <mat-card-header>
          <mat-card-title>Login Details</mat-card-title>
        </mat-card-header>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>Username</td>
            <td><mat-form-field class="full-width">
              <input matInput #username [formControl]="profileValidator.usernameFormControl" placeholder="Input your username" required>
              <mat-error *ngIf="profileValidator.usernameFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
              <mat-hint align="start">Small Characters only; Length: 6-8 characters;</mat-hint>
              <mat-hint align="end">{{username.value.length}} / 8</mat-hint>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><mat-form-field class="full-width">
              <input matInput #password [formControl]="profileValidator.passwordFormControl" [type]="passwordHide ? 'password' : 'text'" placeholder="Input your password" required>
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="profileValidator.passwordFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
              <mat-hint align="start">Alphanumeric; Length: 6-8 characters;</mat-hint>
              <mat-hint align="end">{{password.value.length}} / 8</mat-hint>
            </mat-form-field></td>
          </tr>          
          <tr>
            <td>Confirm Password</td>
            <td><mat-form-field class="full-width">
              <input matInput #confirmPassword [formControl]="profileValidator.confirmPasswordFormControl" [type]="confirmPasswordHide ? 'password' : 'text'" placeholder="Input again password" required>
              <button mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide">
                <mat-icon>{{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="profileValidator.confirmPasswordFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
              <mat-hint align="start">Alphanumeric; Length: 6-8 characters;</mat-hint>
              <mat-hint align="end">{{confirmPassword.value.length}} / 8</mat-hint>
            </mat-form-field></td>
          </tr>
        </table>

        <br><br><br>
        <mat-card-header>
          <mat-card-title>Personal Information</mat-card-title>
        </mat-card-header>
        
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="">
            <mat-label>Surname</mat-label>
            <input matInput [formControl]="profileValidator.surnameFormControl" placeholder="" required>
            <mat-error *ngIf="profileValidator.surnameFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
          </mat-form-field></td>
          
          <td><mat-form-field class="">
            <mat-label>Given Name</mat-label>
            <input matInput [formControl]="profileValidator.givenNameFormControl" placeholder="" required>
            <mat-error *ngIf="profileValidator.givenNameFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
          </mat-form-field></td>
          
          <td><mat-form-field class="one-digit">
            <mat-label>M.I.</mat-label>
            <input matInput placeholder="">
          </mat-form-field></td>
        </tr></table>
        
        <table class="full-width" cellspacing="0">
          <tr>
            <td>Mobile Number</td>
            <td><mat-form-field class="full-width">
                <span matPrefix>09 &nbsp;</span>
                <input matInput [formControl]="profileValidator.mobileNumberFormControl" placeholder="xx-xxx-xxxx">
                <mat-error *ngIf="profileValidator.mobileNumberFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Email Address</td>
            <td><mat-form-field class="full-width">
              <input matInput [formControl]="profileValidator.emailFormControl" placeholder="Ex. pat@example.com" required>
              <mat-error *ngIf="profileValidator.emailFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
        </table>
        
        <br><br><br>
        <mat-card-header>
          <mat-card-title>Scouting Participation</mat-card-title>
        </mat-card-header>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>Sponsoring Institution</td>
            <td><mat-form-field class="full-width">
                <input matInput [formControl]="profileValidator.institutionFormControl" placeholder="Name of School / Organization" required>
                <mat-error *ngIf="profileValidator.institutionFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><mat-form-field class="full-width">
              <textarea matInput placeholder="Full Address"></textarea>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Category</td>
            <td><mat-form-field class="full-width">
              <mat-label>Choose a Category</mat-label>
              <mat-select [(value)]="selectedCategory" [formControl]="profileValidator.categoryFormControl" required>
              <mat-option [value]="category" *ngFor="let category of Categories">{{category}}
              </mat-option>
              </mat-select>
              <mat-error *ngIf="profileValidator.categoryFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>District</td>
            <td><mat-form-field class="full-width">
              <mat-label>Choose a District</mat-label>
              <mat-select [(value)]="selectedDistrict" [formControl]="profileValidator.districtFormControl" required>
                <mat-option [value]="district" *ngFor="let district of Districts">{{district}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="profileValidator.districtFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Area</td>          
            <td><mat-form-field class="full-width">
              <mat-label>Automatically Set</mat-label>
              <mat-select [(value)]="selectedArea" [formControl]="profileValidator.areaFormControl" required disabled>
                <mat-option [value]="area" *ngFor="let area of Areas">{{area}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="profileValidator.areaFormControl.invalid">{{profileValidator.getErrorMessage()}}</mat-error>
            </mat-form-field></td>
          </tr>
          <tr>
            <td>Contact Number</td>
            <td><mat-form-field class="full-width">
              <input matInput placeholder="Telephone / Mobile Number">
            </mat-form-field></td>
          </tr>
        </table>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
    </form>
  </mat-card>
</div>