.box{position:relative;top:230px;left:300px;width:100%;background:#fff;max-width:600px;}
.profile-wrapper{height:100%;}
.profile-wrapper .form{min-width:100%;max-width:500px;width:100%;}
.profile-wrapper .full-width {width:70%;padding-left:20px;padding-right:20px;}
.profile-wrapper .btn-block {width:100%;}
.profile-wrapper .one-digit {width:30%;}

.profile-wrapper mat-card-content {margin:30px;}
.profile-wrapper mat-card-header {text-align:left;width:100%;display:block;font-weight:700;}
.profile-wrapper mat-card-header-text {margin:0px;}
.profile-wrapper mat-card-header mat-card-title{font-size:20px;margin:0;padding-left: 0%;}

.profile-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;}