<div class="formsList-wrapper" fxLayout="column" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-md="start start" *ngIf="route.children.length === 0">
    
    <mat-card class="box">
        <form class="form" [formGroup]="aurFormListFormGroup.form">
            <mat-card-header>
                <mat-card-title>Application for Unit Registration Forms</mat-card-title>
            </mat-card-header>

            <br>
            <table class="search-table" cellspacing="0">
                <tr><td style="width: 20%;">
                        <mat-label>Area</mat-label>
                        <mat-select class="shadow" formControlName="area" (selectionChange)="repopulateDistrictAndInstitutions()">
                            <mat-option [value]="area" *ngFor="let area of searchFormData.areaList">{{area}}</mat-option>
                        </mat-select>
                    </td>
                    <td style="width: 20%;">
                        <mat-label>District</mat-label>
                        <mat-select class="shadow" formControlName="district" (selectionChange)="repopulateInstitutions()">
                            <mat-option [value]="district" *ngFor="let district of searchFormData.districtList">{{district}}</mat-option>
                        </mat-select>
                    </td>
                    <td style="width: 60%;">
                        <mat-label>Institution</mat-label>
                        <mat-select class="shadow" formControlName="institutionId">
                            <mat-option [value]="institution.key" *ngFor="let institution of searchFormData.institutionMap | keyvalue">{{institution.value}}</mat-option>
                        </mat-select>
                    </td>
                </tr>
                <tr><td colspan="2">
                        <mat-label>Name</mat-label>
                        <input class="shadow" type="text" formControlName="name" placeholder="Input Given Name or Surname">
                    </td>
                    <td style="text-align:right;">
                        <a mat-button mat-raised-button color="accent" (click)="searchAURForms()">Search</a>&nbsp;&nbsp;
                        <a mat-button mat-raised-button color="primary" routerLink="new" routerLinkActive="active" *ngIf="userRole=='00'">New</a>
                    </td>
                </tr>
            </table>
        </form>
        
        <br>

        <div class="responsive-table shadow">
        <table mat-table [dataSource]="dataSource" class="forms-list"
                matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 15%;">
                <col style="width: 40%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 15%;">
            </colgroup>

            <!-- AUR Number Column -->
            <ng-container matColumnDef="dateApplied">
                <th mat-header-cell *matHeaderCellDef>DATE APPLIED</th>
                <td mat-cell *matCellDef="let row">{{row.dateApplied | date:'yyyy/MM/dd'}}</td>
            </ng-container>

            <!-- District Column -->
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef>DISTRICT</th>
                <td mat-cell *matCellDef="let row">{{row.district}}</td>
            </ng-container>

            <!-- Institution Column -->
            <ng-container matColumnDef="institution">
                <th mat-header-cell *matHeaderCellDef>INSTITUTION</th>
                <td mat-cell *matCellDef="let row">{{row.institution}}</td>
            </ng-container>

            <!-- AUR Number Column -->
            <ng-container matColumnDef="aurNumber">
                <th mat-header-cell *matHeaderCellDef>AUR NUMBER</th>
                <td mat-cell *matCellDef="let row">{{row.aurNumber}}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>STATUS</th>
                <td mat-cell *matCellDef="let row">{{row.status}}</td>
            </ng-container>

            <!-- Last Updated Date Column -->
            <ng-container matColumnDef="lastUpdatedDate">
                <th mat-header-cell *matHeaderCellDef>LAST UPDATED</th>
                <td mat-cell *matCellDef="let row">{{row.lastUpdatedDate | date:'yyyy/MM/dd HH:mm:ss'}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="processAURForm(row.formId, row.status)"></tr>
        </table>
        </div>
    </mat-card>
</div>
<router-outlet></router-outlet>