.box {position:relative;top:80px;min-width:8.5in;max-width:8.5in;background:#fff;font-family: Arial, Helvetica, sans-serif;}

.formDisplay-wrapper {height:100%;}

.text-center {text-align:center;}
.text-right {text-align:right;}
.font-bold {font-weight:bold;} 
.font-emphasize {font-family:"Arial Black";font-style:italic;font-size:16px;} 
.font-condensed {font-stretch:semi-condensed;}

table {table-layout:fixed;width:100%;border-color: black;border-style:solid;border-width:3pt;margin-bottom:2px;}
table td {font-size:12px;border-color: black;border-style:solid;border-width:0.5px;overflow:hidden;}
table tr.table-header td {text-align:center;border-color: black;border-left-style:solid;border-top-style:none;border-bottom-width:3pt;white-space:nowrap;}
table tr.table-header .roster {font-family:"Arial Black";border-bottom-style:none;}

table tr.table-row {line-height:25px;}
table tr.table-row td {text-align:center;padding:0px;height:80%;white-space:nowrap;border:0.5px solid !important;}
table tr.table-row td:nth-Child(1) {padding-left:0px;text-align:left;}
table tr.table-row td:nth-Child(2) {padding-left:10px;text-align:left;}

table.aurForm table.summary {table-layout: fixed;text-align:left;font-size:12px;font-style:normal;padding-left:10px;padding-right:10px;border-style:none;}
table.aurForm table.summary td {margin:0px;border-style:none;}
table.aurForm table.summary .bottom-underline {text-align:left;padding-left:10px;padding-right:10px;border-bottom-style:solid;border-bottom-width:0.5px;}
table.aurForm table.summary .label {text-align:left;padding-left:10px;padding-right:10px;}
table.aurForm table.summary .amount {text-align:right;padding-left:10px;padding-right:10px;}

input {width:90%;font-family:Arial;font-size:12px;}
input.name {width:40%;}
input.mi {width:5%;}
input[type="number"] {text-align:center;}
input[type="checkbox"] {margin: 0px;}
input.ng-untouched, input.ng-pristine {border-color:red;}
input.ng-dirty, input.ng-valid {border-color:green;}
input.ng-invalid {border-color:red !important;}

.highlight {font-weight:bold;text-decoration:underline;}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {display: none;-webkit-appearance: none;}

/* Firefox */
input[type=number] {-moz-appearance: textfield;}