<!-- Header Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row class="mainbar">
        <button mat-icon-button *ngIf="isLoggedIn" fxShow="true" fxHide.gt-sm>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div><a class="header-title" mat-button [routerLink]="'/home'"><h1>
            <img class="logo" src="../assets/cebu-council-bsp-logo-transparent.png" alt="cebu-council-bsp-logo">&nbsp;Cebu Council BSP</h1></a>
        </div>
        <div *ngIf="isLoggedIn" fxShow="true" fxHide.lt-md>
            <a mat-button [matMenuTriggerFor]="formsMenu">Forms&nbsp;<mat-icon>keyboard_arrow_down</mat-icon></a>
            <a mat-button [matMenuTriggerFor]="usersMenu" *ngIf="isNotGeneralUser">Users&nbsp;<mat-icon>keyboard_arrow_down</mat-icon></a>
            <a mat-button [matMenuTriggerFor]="masterScreens" *ngIf="isNotGeneralUser">Master&nbsp;<mat-icon>keyboard_arrow_down</mat-icon></a>
        </div>
        <div *ngIf="isLoggedIn" fxFlex fxLayoutAlign="flex-end center">
            <button mat-icon-button [matMenuTriggerFor]="logout">
                <mat-icon>account_circle</mat-icon>
            </button>
            <span class="userStyle" fxShow="true" fxHide.lt-md>{{loggedInUser}}</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Spinner -->
<app-mat-spinner-overlay *ngIf="spinner.isLoading" overlay="true"></app-mat-spinner-overlay>

<!-- Side Navigation Toolbar -->
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav [mode]="'push'" fixedInViewport="true">
        <mat-nav-list>
            <mat-list-item></mat-list-item>
            <button mat-list-item [routerLink]="'/home'" class="shadow">Home</button>
            <button mat-list-item [matMenuTriggerFor]="formsMenu" class="shadow">Forms&nbsp;<mat-icon fxFlex fxLayoutAlign="flex-end center">keyboard_arrow_down</mat-icon></button>
            <button mat-list-item [matMenuTriggerFor]="usersMenu" *ngIf="isNotGeneralUser" class="shadow">Users&nbsp;<mat-icon fxFlex fxLayoutAlign="flex-end center">keyboard_arrow_down</mat-icon></button>
            <button mat-list-item [matMenuTriggerFor]="masterScreens" *ngIf="isNotGeneralUser" class="shadow">Master&nbsp;<mat-icon fxFlex fxLayoutAlign="flex-end center">keyboard_arrow_down</mat-icon></button>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content fxLayout="column">
        <router-outlet></router-outlet>
        <app-footer fxFlexOffset="auto"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #formsMenu="matMenu">
    <button mat-menu-item [routerLink]="'/forms'" (click)="sidenav.close()">
        <span>Application for Unit Registration</span>
    </button>
</mat-menu>
<mat-menu #usersMenu="matMenu">
    <button mat-menu-item [routerLink]="'/users'" (click)="sidenav.close()">
        <span>User List</span>
    </button>
</mat-menu>
<mat-menu #masterScreens="matMenu">
    <button mat-menu-item [routerLink]="'/unitNumbers'" (click)="sidenav.close()">
        <span>Unit Numbers</span>
    </button>
</mat-menu>
<mat-menu #logout="matMenu">
    <button mat-menu-item (click)="openProfile()">
        <span>Profile</span>
    </button>
    <button mat-menu-item (click)="processLogout()">
        <span>Logout</span>
    </button>
</mat-menu>

<app-profile [inputUserId]="userId" *ngIf="isProfileClicked" (close)="isProfileClicked = false"></app-profile>

