h1 {margin-bottom:0px;}
div.inputs {margin-top:15px;}
input {height:25px;padding:5px;border: 1px solid;margin-top:5px;}
input.sectionText {width:10%;border-right:none;text-align:right;}
input.unitNumber {width:70%;border-left:none;padding-left:0px;}
select {width:50%;height:35px;padding:5px;border: 1px solid;margin-top:5px;}
select option {height:25px;padding-left:5px;padding-top:3px;}