<div class="footer-wrapper" fxLayout="column" fxLayoutAlign="end stretch">
    
    <div class="footer1">        
        <mat-grid-list [cols]="breakpoint" gutterSize="50px" (window:resize)="onResize($event)" rowHeight="100px">
            <mat-grid-tile>
                <mat-grid-tile-header>ABOUT THIS</mat-grid-tile-header>
                <div class="footer-content" fxFlex fxLayout="column" fxLayoutAlign="start start">
                    <p>This Web Portal is designed to allow Unit Leaders of the whole Cebu Council a means to process Unit Registration despite the pandemic.</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-grid-tile-header>LINKS</mat-grid-tile-header>
                <div class="footer-content" fxFlex fxLayout="column" fxLayoutAlign="start start">
                    <ul><li><a href="https://www.facebook.com/cebucouncilbsp" target=”_blank”>Cebu Council BSP - FB Page</a></li>
                        <li><a href="https://www.facebook.com/boyscoutsPH/" target=”_blank”>Boy Scouts of the Philippines - FB Page</a></li>
                        <li><a href="http://scouts.org.ph/" target=”_blank”>Boy Scouts of the Philippines - Web Page</a></li>
                    </ul>
                </div>
            </mat-grid-tile><mat-grid-tile>
                <mat-grid-tile-header>CONTACT US</mat-grid-tile-header>
                <div class="footer-content" fxFlex fxLayout="column" fxLayoutAlign="start start">
                    <span>Natalio Bacalso Avenue Corner Tres de Abril Street</span>
                    <span>Cebu City, Philippines</span>
                    <span>Call (032) 418-6258</span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="footer2">
        <span>Copyright © 2020 Cebu Council - Boy Scouts of the Philippines</span>
    </div>
</div>