<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="box center">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="input-form" [formGroup]="loginFormGroup.form">

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" formControlName="username" maxlength="8">
          <mat-error *ngIf="loginFormGroup.form.controls['username.invalid']">{{validate()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password" maxlength="8">
          <mat-error *ngIf="loginFormGroup.form.controls['password.invalid']">{{validate()}}</mat-error>
        </mat-form-field>
      </mat-card-content>

    </form>
    
    <table class="full-width">
      <tr><td><button mat-raised-button color="primary" class="btn-block" (click)="login()">Log in</button></td>
          <td><button mat-raised-button color="accent" class="btn-block" (click)="openSignUp()">Sign Up</button></td>
      </tr>
    </table>
  </mat-card>  
  
  <app-sign-up *ngIf="isSignUpClicked" (close)="isSignUpClicked = false"></app-sign-up>

</div>