.home-wrapper {min-height:100vh;width:100%;background:#fff;padding:100px 40px 30px 40px;}

.home-wrapper h1 {font-family:"Arial Black";}

.home-wrapper mat-grid-tile {border:0.5px solid;}
.home-wrapper mat-grid-tile-footer {border:0.5px solid;}
.home-wrapper mat-grid-tile-header {border:0.5px solid;background-color: rgb(255, 215, 64); color:black;font-weight:bold;}