/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin:0; padding:0; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image:url(https://scontent.fceb2-2.fna.fbcdn.net/v/t1.0-9/116720094_1334730020205534_329732359687626176_n.png?_nc_cat=111&_nc_sid=8024bb&_nc_ohc=Gy7k3T1lQ9sAX-8OmAk&_nc_ht=scontent.fceb2-2.fna&oh=671e3fa8813603773458f50227431fa1&oe=5F532BBE);
    background-position-y:60px;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    font-family:'Roboto', sans-serif;
}

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}