.box{position:relative;top:80px;bottom:20px;right:20px;width:100%;background:#fff;max-width:600px;}
.profile-wrapper{height:100%;}
.profile-wrapper .form{min-width:100%;max-width:500px;width:100%;}
.profile-wrapper .full-width {width:90%;padding-left:30px;padding-right:20px;}
.profile-wrapper .btn-block {width:100%;}
.profile-wrapper .one-digit {width:37%;}

.profile-wrapper mat-card-content {margin:30px;}
.profile-wrapper mat-card-header {text-align:left;width:100%;display:block;font-weight:700;position: relative;left:-10;}
.profile-wrapper mat-card-header-text {margin:0px;}
.profile-wrapper mat-card-header mat-card-title{font-size:20px;margin:0;padding-left: 0%;}

.profile-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;}

table tr th:first-child,
table tr td:first-child {
  width: 11em;
  min-width: 11em;
  max-width: 13em;
  word-break: break-all;
}